.App {
  text-align: center;
}

.App-header {
  font-family: 'Codystar', cursive;
  background-color:#4f5f7a;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.App-header i {display:inline-block;margin-right:10px;
font-size: 2em;}
.App-title {display:inline-block;}
