@import url('https://fonts.googleapis.com/css?family=Codystar|Montserrat|Raleway');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
#day-photo{
  width:100%;
}
#info{
  text-align: left;
}
